<!DOCTYPE html>
<html lang="en">
<head>
    <title>speech2text</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1 class="center" id="headline"></h1>
      <div>
          <div class="right">
            <button class="button" id="start_button">
              Start
              <!-- <img id="start_img" src="/images/mic.gif" alt="Start"> -->
              <button class="button"  id="question_button" >
              Info
              <!-- <img id="question_img" src="/images/question.png" alt="question"> -->
            </button>
          </div>
      <div id="container"></div>


      <div id="startModal" height= "500px" style="display:none">
        <h3>Hi, I am an invisible poet. <br>
            I want to get to know you— <br>
           tell me... </h3>
        <p>the hardest thing you have ever done <br>
a dream you once had that scared you <br>
the last thing that made you cry <br>
list some things that make you happy <br>
rant about something that you hate</p>
      </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/vendors/prism.js"></script>
    <script type="text/javascript" src="js/components/helpers.js"></script>
    <script type="text/javascript" src="js/components/App.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>

    <script src="js/p5/addons/p5.dom.js"></script>
    <script src="js/p5speech.js"></script>
    <script type="text/javascript" src="js/rita-full.js"></script>

    <script type="text/javascript" src="js/analyze.js"></script>
    <script type="text/javascript" src="js/main.js"></script>



</body>

</html>
