<!DOCTYPE html>
<html lang="en">
<head>
    <title>speech2text</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1 class="center" id="headline"></h1>
      <div>
          <div class="right">
            <button id="start_button">
              <img id="start_img" src="/images/mic.gif" alt="Start">
            </button>
            <button id="print_button" >
              <img id="print_img" src="/images/print.png" alt="Print">
            </button>
            <button id="question_button" >
              <img id="question_img" src="/images/question.png" alt="question">
            </button>
          </div>
      <div id="container"></div>
      <div class = "pics" >
    <img src="/images/start_image.png"  id = "start" alt="start" style="width:1000px
    ">
  </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="js/vendors/prism.js"></script>
    <script type="text/javascript" src="js/components/helpers.js"></script>
    <script type="text/javascript" src="js/components/App.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>

    <script src="js/p5/addons/p5.dom.js"></script>
    <script src="js/p5speech.js"></script>
    <script type="text/javascript" src="js/rita-full.js"></script>

    <script type="text/javascript" src="js/analyze.js"></script>


</body>

</html>
